<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/djangoapp">Home</a>
          <a class="navbar-brand" href="/djangoapp/about">About</a>
          <a class="navbar-brand" href="/djangoapp/contact">Contact</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a class="btn btn-link" href="#">
              {{ user.first_name }}({{ user.username }})
            </a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}"
              >Logout</a
            >
          </li>
          {% else %}
          <li>
            <form
              class="form-inline"
              action="{% url 'djangoapp:login' %}"
              method="post"
            >
              {% csrf_token %}
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  name="username"
                />
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="psw"
                />
                <button class="btn btn-primary" type="submit">Login</button>
                <a
                  class="btn btn-link"
                  href="{% url 'djangoapp:registration' %}"
                  >Sign Up</a
                >
              </div>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <form action="{% url 'djangoapp:registration' %}" method="post">
      <h1>Sign Up</h1>
      <hr />
      <div class="form-group">
        <label for="username"><b>User Name</b></label>
        <input
          type="text"
          placeholder="Enter User Name: "
          name="username"
          required
        />
      </div>
      <div class="form-group">
        <label for="firstname"><b>First Name</b></label>
        <input
          type="text"
          placeholder="Enter First Name: "
          name="firstname"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname"><b>Last Name</b></label>
        <input
          type="text"
          placeholder="Enter Last Name: "
          name="lastname"
          required
        />
      </div>
      <div class="form-group">
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password: "
          name="psw"
          required
        />
      <div>
      {% csrf_token %}
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </body>
</html>
